@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

$primary-colour: rosybrown;

@mixin flex($direction, $align, $justify) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}

* {
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.home-class {
	margin: 5px;
	padding: 0;
	left: 5px;
	top: 5px;
	height: calc(100vh - 10px);
	width: calc(100vw - 10px);
	display: flex;
	background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
	transform: translateX(-100%);
	transition: all 1s;
}

.fade {
	animation: slide 1s ease-out 1 forwards;
}

@keyframes slide {
	0% {
		transform: skewX(10deg) translateX(-100%);
	}

	75% {
		transform: skewX(-5deg) translateX(0);
	}

	100% {
		transform: skewX(0deg) translateX(0);
	}
}

.banner {
	height: 100%;
	width: 70%;
	@include flex(column, center, center);
	color: white;
	background-color: inherit;
	z-index: 10;

	h2 {
		font-size: 25px;
	}

	p {
		font-size: 20px;
	}
}

.form-class {
	width: 30%;
	margin: 20px 0;
	@include flex(column, center, space-around);
	border-left: 3px solid rgba(188, 143, 143, 0.5);

	form {
		width: 100%;
		@include flex(column, stretch, space-evenly);
		height: 25%;

		input,
		button {
			border-radius: 5px;
			outline: none;
			border: 2px solid $primary-colour;
			margin: 10px;
			padding: 5px;
			font-size: 16px;
			transition: all 0.5s;
		}

		input:focus {
			border-radius: 20px;
		}

		button {
			width: calc(100% - 20px);
			background-color: transparent;
			border: none;
			color: white;
			transition: transform 0.5s
		}

		button:hover {
			background-color: $primary-colour;
			transform: translateY(-3px);
		}

		p {
			color: rgb(207, 123, 123);
			margin: 0;
			text-align: center;
			transition: all 1s;
			z-index: 1;
		}

		.fade-out {
			transform: translateX(100%);
		}
		
		.fade-in {
			transform: translateX(0);
		}
	}
}

.shake {
	animation: shake 0.5s ease-in-out 1;

	&::placeholder {
		color: red;
	}
}


@keyframes shake {
	10% {
		transform: translateX(-1px);
	}

	25% {
		transform: translateX(3px);
	}

	50% {
		transform: translateX(-3px);
	}

	75% {
		transform: translateX(3px);
	}
}
