@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.home-class {
	margin: 5px;
	padding: 0;
	left: 5px;
	top: 5px;
	height: calc(100vh - 10px);
	width: calc(100vw - 10px);
	display: flex;
	background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
}

.banner {
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;

	h2 {
		font-size: 25px;
	}

	p {
		font-size: 20px;
	}
}

.form-class {
	width: 30%;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-left: 3px solid rgba(188, 143, 143, 0.5);

	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 25%;

		input,
		button {
			border-radius: 5px;
			outline: none;
			border: 2px solid rosybrown;
			margin: 10px;
			padding: 5px;
			font-size: 16px;
		}

		button {
			width: calc(100% - 20px);
			background-color: rosybrown;
		}

		button:hover {
			opacity: 0.8;
		}

		p {
			color: rgb(207, 123, 123);
			margin: 0;
			text-align: center;
		}
	}
}

.shake {
	animation-name: shake;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.shake::placeholder {
	color: red;
}

@keyframes shake {
	10% {
		transform: translateX(-1px);
	}

	25% {
		transform: translateX(3px);
	}

	50% {
		transform: translateX(-3px);
	}

	75% {
		transform: translateX(3px);
	}
}

.hidden {
	display: hidden !important;
}
