%float {
	max-width: 50%;
	background-color: rgba(188, 143, 143, 0.5);
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.float-left {
	@extend %float;
	align-self: flex-start;
}

.float-right {
	@extend %float;
	align-self: flex-end;

	.user-name {
		margin-right: 5px;
		background-color: steelblue;
		color: white;
		padding: 5px;
		border-radius: 10px;
		font-size: 0.8em;
		display: inline-block;
	}
}
