@import "../Home/Home.scss";

.chat-class {
	margin: 5px;
	padding: 0;
	left: 5px;
	top: 5px;
	height: calc(100vh - 10px);
	width: calc(100vw - 10px);
	display: flex;
	background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
}


.room-info {
	color: white;
	width: 50%;
	@include flex(column, center, center);

	ul {
		padding: 0;
		@include flex(column, center, space-evenly);
		margin: 0 0 20px 0;

		li {
			list-style-type: none;
		}
	}

	a {
		margin: 5px;
	}

	button {
		font-size: larger;
		border-radius: 10px;
		color: white;
		padding: 5px;
		background-color: transparent;
		border: transparent;
		transition: all 0.3s;

		&:hover {
			background-color: $primary-colour;
			transform: scale(1.1);
		}

		&:focus {
			outline: none;
		}
	}
}

.chat-box-container {
	width: 50%;
	@include flex(row, center, center);

	.chat-box {
		height: 90%;
		width: 70%;
		background-color: white;
		border-radius: 10px;
		@include flex(column, stretch, space-between);

		p {
			margin: 5px;
			display: inline;
		}

		form {
			margin: 5px;
			align-self: stretch;
			height: 7%;

			input {
				width: 80%;
				height: 100%;
				padding: 3px;
				font-size: larger;
				margin: 0;
				border-top-left-radius: 8px;
				border-bottom-left-radius: 8px;
				border: 1px solid $primary-colour;
			}

			input:focus,
			button:focus {
				outline: none;
			}

			button {
				margin: 0;
				height: 100%;
				width: 20%;
				font-size: larger;
				border: 1px solid $primary-colour;
				border-left: none;
				border-top-right-radius: 8px;
				border-bottom-right-radius: 8px;
				background-color: $primary-colour;
				color: white;
			}

			button:hover {
				opacity: 0.8;
			}
		}

		.css-13azwyo {
			box-sizing: border-box;
			margin: 5px;
			height: 85%;

			.css-y1c0xs {
				@include flex(column, stretch, start);
			}
		}

		.typing-container {
			margin: 0 0 0 5px;
		}

		.dots {
			display: inline-block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: gray;
			border-color: gray;
			margin: 5px;
			animation: grow 1s linear infinite;
		}

		.dots:nth-of-type(2) {
			animation-delay: 0.2s;
		}
		
		.dots:nth-of-type(3) {
			animation-delay: 0.3s;
		}

		@keyframes grow {
			0%, 100% {
				transform: scale(1);
			}
			50% {
				transform: scale(2);
				background-color: white;
			}
		}
	}
}
